{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment</title>
    <link rel="stylesheet" href="{% static 'Manager/shipment/ship.css' %}">
</head>
<body>
    <div class="container">

    <h2>Shipment</h2>
    <div class="order-info">
        <p><strong>Order Number:</strong> {{ order.order_number }}</p>
        <p><strong>User:</strong> {{ order.user.name }} ({{ order.user.email }})</p>
        <p><strong>Payment Mode:</strong> {{ order.get_payment_mode_display }}</p>
        <p><strong>Shipping Address:</strong> {{ order.address.name }}, {{order.address.contact_no}}, {{order.address.house_no}}, {{order.address.street}}, {{order.address.locality}}, {{order.address.city}}, {{order.address.district}}, {{order.address.state}}, {{order.address.pincode}}</p>
        <p><strong>Order Status:</strong> {{ order.status }}</p>
    </div>

    <form method="post" action="{% url "shipment_form" %}">
        {% csrf_token %}
      
        <input type="hidden" value="{{order.order_number}}" name="order_number" required><br>

        <label for="length">Length (cm):</label>
        <input type="number"  id="length" name="length" required><br>
      
        <label for="breadth">Breadth (cm):</label>
        <input type="number"  id="breadth" name="breadth" required><br>
      
        <label for="height">Height (cm):</label>
        <input type="number" id="height" name="height" required><br>
      
        <label for="weight">Weight (kg):</label>
        <input type="number"  id="weight" name="weight" required><br>

        <label for="channel_id">Channel ID(Optional):</label>
        <input type="number" id="channel_id" name="channel_id"><br>
      
        <label for="reseller_name">Reseller Name(Optional):</label>
        <input type="text" id="reseller_name" name="reseller_name"><br>
      
        <label for="company_name">Company Name(Optional):</label>
        <input type="text" id="company_name" name="company_name"><br>

        <label for="comment">Comment(Optional):</label><br>
        <textarea id="comment" name="comment" rows="3" cols="30"></textarea><br>
        
        <a href="javascript:history.back()" class="back-btn">Back</a>
        <button type="submit" class="submit-btn">Submit</button>
    </form>

    </div>
    <!-- Mobile Message -->
<div class="message-container">
    <div class="icon">🚫</div>
    <h1>Access Restricted</h1>
    <p>This page is only accessible on a desktop. Please visit from a PC.</p>
  </div>
</body>
</html>
