{% extends 'Manager/base.html'%}
{% load static %}

{% block title %}Add Product{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'Manager/product/css/a.css' %}">

<div class="container">
    <h2 class="page-title">ADD PRODUCT</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>Product Name</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4"></textarea>
        </div>

        <div class="flex-container">
            <div class="form-group">
                <label>Category</label>
                <select name="category" class="form-select">
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label>Brand</label>
                <input type="text" name="brand" class="form-control">
            </div>
        </div>

        <div class="flex-container">
            <div class="form-group">
                <label>MRP</label>
                <input type="number" name="mrp" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label>Price</label>
                <input type="number" name="price" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label>Stock</label>
            <input type="number" name="stock" class="form-control">
        </div>

        <div class="form-group">
            <label>Product Images</label>
            <input type="file" name="product_image" class="form-control" multiple>
        </div>

        <button type="submit" class="btn-submit">Save & Publish</button>
    </form>
</div>

{% endblock %}
