{% extends 'Manager/base.html'%}
{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Add New Product</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="" class="form-label">Product Name</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <textarea type="text" name="description" class="form-control" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Category</label>
            <select name="category" id="" class="form-select">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Brand</label>
            <input type="text" name="brand" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" required>
        </div>
        <!-- <div class="mb-3">
            <label for="" class="form-label">Discounted Price</label>
            <input type="number" name="discounted_price" class="form-control">
        </div> -->
        <div class="mb-3">
            <label for="" class="form-label">Stock</label>
            <input type="number" name="stock" class="form-control">
        </div>
        <!-- <div class="mb-3">
            <label for="" class="form-label">Stock Status</label>
            <select name="stock_status" class="form-select">
                <option value="In Stock">In Stock</option>
                <option value="Out of Stock">Out of Stock</option>
                <option value="Limited Stock">Limited Stock</option>
            </select>
        </div> -->
        <div class="mb-3">
            <label for="" class="form-label"> Product Images</label>
            <input type="file" name="product_image" class="form-control" multiple>
        </div>
        <button type="submit" class="btn btn-success">Save & Publish</button>
    </form>
</div>
{% endblock %}
