<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        iframe{
            width: 80%;
            height: 80%;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='https://app.shiprocket.in/seller/orders/details/819432130';">
        Go to Shiprocket Orders
      </button>
      <button></button>
      
</body>
</html>