{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Order Management</title>
  <link rel="stylesheet" href="{% static 'Manager/order/css/order_detail.css' %}">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>
  <div class="main">
    <nav class="navbar">
        <a class="logo" href="{% url 'dashboard' %}">
          <img src="{% static 'Manager/images/logo.png' %}" alt="Admin Logo" />
        </a>
        <ul class="nav-links">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="dropdown">
            <a href="#">Products <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'products' %}?type=cosmetic"><i class="fas fa-spa"></i> Cosmetic</a></li>
              <li><a href="{% url 'products' %}?type=jewellery"><i class="fas fa-gem"></i> Jewellery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'best_of_products' %}">Best Items</a></li>
          <li><a href="{% url 'order_list' %}">Orders</a></li>
          <li><a href="{% url 'customer_list' %}">Customers</a></li>
          <li><a href="{% url 'shipment_details' %}">Shipments</a></li>
        </ul>
      </nav>
      <div class="container">

<h2 class="page-title"><b>Order Details</b></h2>

    <div class="order-info">
        <p><strong>Order Number:</strong> {{ order.order_number }}</p>
        <p><strong>User:</strong> {{ order.user }}</p>
        <p><strong>Payment Mode:</strong> {{ order.order.payment_mode }}</p>
        <p><strong>Shipping Address:</strong> {{ order.address.name }}, {{order.address.contact_no}}, {{order.address.house_no}}, {{order.address.street}}, {{order.address.locality}}, {{order.address.city}}, {{order.address.district}}, {{order.address.state}}, {{order.address.pincode}}</p>
        <p><strong>Order Status:</strong> {{ order.status }}</p>
          
    </div>

    <h3><strong>CART ITEMS</strong></h3>
    <table class="cart-table">
        <thead>
            <tr>
              <th>S.No.</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Order Date</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>₹{{ item.product.price }}</td>
                <td>₹{{ item.total_price }}</td>
                <td>{{ order.created_at|date:"M d, Y" }}</td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>PRICE BREAKDOWN</h3>

    <table class="price-table">
      <tr>
        <th>Discount</th>
        <th>Tax</th>
        <th>Shipping Charge</th>
        <th>Packaging Charges</th>
        <th>COD Charges</th>
        <th>Handling Charges</th>
        <th>Additional Charges</th>
        <th>All Item's Price</th>
        <th>Total Price</th>
      </tr>
      <tr>
        <td>₹{{ order.discount }}</td>
        <td>₹{{ order.tax }}</td>
        <td>₹{{ order.shipping_charges }}</td>
        <td>₹{{ order.packaging_charges }}</td>
        <td>₹{{ order.cod_charges }}</td>
        <td>₹{{ order.handling_charges }}</td>
        <td>₹{{ order.additional_charges }}</td>
        <td>₹{{ order.sub_total }}</td>
        <td><strong>₹{{ order.total_price }}</strong></td>
      </tr>
    </table>


    <a href="javascript:history.back()" class="back-btn">← Back</a>
    
    

</div>
</div>

<!-- Mobile Message -->
<div class="message-container">
  <div class="icon">🚫</div>
  <h1>Access Restricted</h1>
  <p>This page is only accessible on a desktop. Please visit from a PC.</p>
</div>

</body>

</html>